:root {
    --primary-color: rgb(86, 51, 0);
    --secondary-color: rgb(141, 93, 22);
    --background-color: rgb(246, 243, 240);
    --text-color: rgb(48, 30, 2);
    --highlight-color: rgb(246, 243, 240);
    --hoover-color: rgb(231, 221, 207);
    --border-color: rgb(141, 93, 22);
    --button-color: rgb(86, 51, 0);
}

* {
    box-sizing: border-box;
}

body {
    font-family: corbel, 'Arial Narrow', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid var(--primary-color);
    border-radius: 0.2rem;
}


h1 {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem;
    color:  rgb(246, 243, 240);
    border-radius: 0.5rem;
}

p {
    font-size: 1.2rem;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

a{
    color: var(--highlight-color);
}

.blocklibros{
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border-radius: 0.5rem;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--hoover-color);
    border-radius: 0.2rem;
}

#dynamicList {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 0.5rem;
}